@model NoticeBoard.Models.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Tablica ogłoszeń";
}
<div class="row">
    <div class="col-sm-4">
        @foreach (var category in Model.CategoriesList)
        {
            <div class="panel panel-default">
                <div class="panel-heading">@category.Name</div>
                <div class="panel-body">
                    <ul>
                        @foreach (var subCategory in category.SubCategory)
                        {
                            <li>
                                @if (subCategory.Id != Model.SelectedCategoryId)
                                {
                                    <a href="@Url.Action("Index", "Home", new { categoryId = subCategory.Id })">
                                        @subCategory.Name
                                    </a>
                                }
                                else
                                {
                                    <a href="@Url.Action("Index", "Home", new { categoryId = subCategory.Id })" style="color: green; font-weight: bold">
                                        @subCategory.Name
                                    </a>
                                }
                            </li>

                        }
                    </ul>
                </div>
            </div>
        }

    </div>
    <div class="col-sm-8">
        @if (Model.NoticesList.Count > 0)
        {
            foreach (var notice in Model.NoticesList)
            {
                <a href="@Url.Action("ShowNoticeDetails", "Home", new { noticeId = notice.Id }) ">
                    <div class="panel panel-default">
                        <div class="panel-heading">@notice.Title <span style="float: right;"> data dodania: @notice.CreateDate</span></div>
                        <div class="panel-body">
                            @notice.Description
                            <b>Czytaj więcej</b>
                        </div>
                    </div>
                </a>
            }
        }
        else
        {
            <div class="panel panel-default">
                <div class="panel-body">Brak ogłoszeń w wybranej kategorii.</div>
            </div>
        }

    </div>
</div>